*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(245, 245, 245);
}

.logo{
    display: flex;
}

#botonquiero{
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: yellowgreen;

}

#botonticket{
    border-radius:10px;
    padding: 10px ;
    text-align:center;
    background-color: rgb(21, 165, 21);
}

#confbsas{
    color: white;    
    text-align: end;
    position:absolute;
    top: 20%;
    right:10%;
    left:auto;
    bottom: 50%;
    padding: 15px;
    height: auto;
    width: 50%;
}

.nav{

    margin-right: 30px;    
}

.textoimagen{
    width: 100%;;
    background-color: rgb(73, 73, 73);
}

#final {
    width: 100%;
    align-items: center;
    margin-top:20px;
    padding:30px;
    height: 100px;
    color:white;
    background-image: linear-gradient(to right, #0a1c35 0%, #1cb7e6 100%);
}

.copy {
    font-size: 15px;
    text-align: center;
}

/*Empieza compra*/
h2{
display: flex;
justify-content: center;
}

h4{
display: flex;
justify-content: center;
}

.tipoDescuento {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.estudiante, .trainee, .junior {
    margin: 20px;
    text-align: center;
    
}
.estudiante{
   border: 4px solid red;
    background: linear-gradient(45deg, #ffbc00, #ff0058);
    
}
.trainee { 
    border: 4px solid rgb(43, 161, 161);
    background: linear-gradient(45deg, rgb(117, 238, 143) , rgb(5, 92, 34))

}
.junior {
    border: 4px solid  yellow;
    background: linear-gradient(45deg, yellow, yellowgreen);
} 
.btnenviar{
    background-color:rgb(62, 136, 62);
    color:white ;
    border-radius: 12px;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    font-weight: 150;
    font-size: 20px;

    
}
.btnenviar:hover{
    color:black;
}

#total{
    margin-top: 20px;
}

/*empieza listado*/

.table{
    margin-top: 100px;
    margin-bottom: 230px;
    
}

/*empieza registro*/

.formulario{
    
    margin-top: 210px;
    margin-bottom: 230px;
    margin-left: 200px;
    margin-right: 200px;
}

.form-floating{
    margin-top: 15px;
}




